@CHARSET "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, input, textarea, div, header, main, footer {
	padding:0;
	margin:0;
	font-size:100%;
	font-weight:normal;

	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	vertical-align: baseline;
}

table {border-collapse:collapse; border-spacing:0;}
td, th, caption {font-weight:normal; text-align:left;}

img, fieldset {border:0;}

ol {padding-left:1.4em; list-style:decimal;}
ul {padding-left:1.4em; list-style:square;}

q:before, q:after {content:'';}

*[onclick], *[href] {cursor:pointer;}

.hidden {display:none;}

.striped tr:nth-child(even) {background-color:#cfcfcf;}