@CHARSET "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, input, textarea, div, header, main, footer {
	margin:0; padding:0;
	font-size:100%; font-weight:normal;

	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	vertical-align: baseline;
}

table {border-collapse:collapse; border-spacing:0;}
td, th, caption {font-weight:normal; text-align:left;}

img, fieldset {border:0;}

ol {padding-left:1.4em; list-style:decimal;}
ul {padding-left:1.4em; list-style:square;}

q:before, q:after {content:'';}

*[onclick], *[href] {cursor:pointer;}

button {min-width:55px; padding:0 .25em;}

input[type='text'], input[type='password'] {padding:.1em .25em;}
input[type='number'] {text-align:right;}
input[readonly] {border:none;}

body, header, .mainTitle, .subTitle {width:100%;}

main {
	width:95%;
	margin:0 auto;
}

.hidden {display:none;}

.mainTitle {
	font-size:2em; font-weight:bold;
	color:white; background-color:purple;
	text-align:center;
}
.subTitle {
	font-size:1em; font-weight:bold;
	padding:.2em .5em;
	color:white; background-color:deeppink;
}

.search {
	padding:.75em 0;
    font-size:small;
}

.infoList {
	width:100%;
	table-layout:fixed;
	border-top:1.75px solid lightgrey;
	border-bottom:1.75px solid lightgrey;
}
.infoList thead {background-color:lightskyblue;}
.infoList tbody tr:nth-child(even) {background-color:#e7efff;}
.infoList th, .infoList td {
	padding:.5em .2em;
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
    font-size:small;
}
.infoList a[onclick], .infoList a[href] {color:navy; text-decoration:underline;}

.infoForm {
	width:100%;
    font-size:small;
}
.infoForm th {background-color:#e7efff; border-bottom:1px solid white;}
.infoForm th, .infoForm td {padding:.5em;}
