@CHARSET "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, input, textarea, div, header, main, footer {
	margin:0; padding:0;
	font-family:Arial, Verdana, sans-serif, dotum, gulim;
	font-size:100%; font-weight:normal;

	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	vertical-align: baseline;
}

table {
	border-collapse:collapse; border-spacing:0;
	table-layout:fixed;
}
td, th, caption {font-weight:normal; text-align:left;}

img, fieldset {border:0;}

ol {padding-left:1.4em; list-style:decimal;}
ul {padding-left:1.4em; list-style:square;}

q:before, q:after {content:'';}

*[onclick], *[href] {cursor:pointer;}

button {min-width:55px; padding:0 .25em;}

input[type] {padding:.2em .25em;}
input[type='number'] {text-align:right;}
input[readonly] {border:none;}

body, header, .mainTitle, .subTitle {width:100%;}

main {
	width:95%;
	margin:0 auto;
}

button.add {
	width:3em; height:4em;
	position:fixed; top:7em; left:22.2em;
	background-color:white;
	border:2px solid deeppink; border-radius:50%;
}

.hidden, .showOnSelect, .showOnCheck {display:none;}

.mainTitle {
	font-size:2em; font-weight:bold;
	color:white; background-color:purple;
	text-align:center;
}
.subTitle {
	font-size:1em; font-weight:bold;
	padding:.2em .5em;
	color:white; background-color:deeppink;
}
.menu {
	width:100%; margin:0; padding:0;
	border-top:1px solid white; border-bottom:1px solid white;
	list-style-type:none; overflow:hidden;
}
.menu li {
	display:inline;
	padding:.5em;
}
.menu .current {
	color:white; background-color:lightskyblue;
}

.dialogModal {
	width:100%; height:100%;
	display:flex; align-items:center; justify-content:center; align-content:center;
	position:fixed; top:0; left:0; 
	background:rgba(0,0,0,.4);
}
.dialog {
	min-width:70%; overflow-x:auto;
	background:white;	
}
.dialogTitle {
	width:100%;
	padding:.2em .5em;
	border:1px solid white;
	color:white; background-color:deeppink;
	font-weight:bold;
	display:flex; justify-content:space-between;
}
.dialogContent {
	width:100%;
	padding:.2em .5em;
}
.dialogFooter {
	width:100%;
	text-align:center;
}

.inputArea {
	padding:.75em 0;
    font-size:small;
}

.infoList {
	width:100%;
	border-top:2px solid purple;
	border-bottom:1px solid lightgrey;
}
.infoList thead {color:white; background-color:lightskyblue;}
.infoList tbody tr:nth-child(even) {background-color:#e7efff;}
.infoList th, .infoList td {
	padding:.5em .2em;
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
    font-size:small;
}
.infoList a[onclick], .infoList a[href] {color:navy; text-decoration:underline;}
.infoList .notFound {text-align:center;}

.more, .more button {width:100%;}
.more {padding:.75em 0;}
.more button {padding:.5em 0;}

.paging {width:100%; margin:.5em; padding:.5em; text-align:center;}
.paging a {padding:.5em;}
.paging .current {color:white; background-color:lightskyblue;}

.infoForm {
	width:100%;
    font-size:small;
}
.infoForm th {width:35%; background-color:#e7efff; border-bottom:1px solid white;}
.infoForm th, .infoForm td {padding:.5em;}
.infoForm td input {width:100%;}